name: Add changeset to Renovate updates

on:
  pull_request_target:
    types: [opened, synchronize]

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  changeset:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'renovate[bot]'
    steps:
      - uses: mscharley/dependency-changesets-action@v1.2.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-conventional-commits: true
